/*mutual properties*/

body {
	background-color: #ffffff;
}

.content-wrapper {
	max-width: 960px;
	margin: 0 auto;
}

/*links properties*/

a {
	color: #808080;
	text-decoration: none;
}

.header-contacts > div > a {
	color: #29bdca;
}

.navigation > a {
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 14px;
}

.navigation > a:first-child {
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 14px 0 0;
}

.menu > a {
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 2px;
}

.menu > a:first-child {
	background-color: #29bdca;
	color: #ffffff;
}

.portfolio-list a {
	color: #29bdca;
	text-transform: capitalize;
} 

/*datetime properties*/

time {
	font-color: #808080;
	font-size: 12px;
}

/*common properties*/

.social-networks-list > *:first-child {
	margin: 0;
}

img {
	width: 300px;
	height: 150px;
}

#fill-list-item > img {
	width: 300px;
	height: 1px;
}


/*
*
*
*
*
*
* header properties
*
*
*
*
*
*/

/*contacts stripe properties*/

.header-contacts {
	background-color: #f2f2f2;
	height: 30px;
	display: flex;
	justify-content: flex-end;
}

.header-contacts div {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	color: #80808e;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}

.header-contacts div > * {
	max-height: 100%;
	margin-left: 20px;
}

.header-contacts .social-networks-list {
	height: 100%;
	width: 123px;
	font: normal normal normal 15px FontAwesome;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0 0 0 20px;
}

.header-contacts .social-networks-list > * {
	height: 30px;
	width: 30px;
	background-color: #e5e5e5;
	color: #808080;
	margin: 0 0 0 1px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

/*Main menu properties*/

.header-main-menu {
	color: #404040;
	font-size: 15px;
	height: 140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header-main-menu > h1:first-letter {
	padding: 5px 15px;
	font-weight: bolder;
	color: #ffffff;
	background-color: #29bdca;
}

.navigation {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

/*current place in site properties*/

.header-current-place {
	background-color: #2095a0;
	height: 38px;
	box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.25);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.breadcrumbs {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	color: #94e0d9;
	font-size: 13px;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
}

.breadcrumbs > * {
	margin: 0 12px 0 0;
}

.breadcrumbs > a {
	color: #ffffff;
}

.breadcrumbs > i {
	color: #000000;
}

/*bottom stripe properties*/

.header-bottom-stripe {
	background-color: #29bdca;
	height: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-bottom-stripe div {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	color: #ffffff;
	font-size: 20px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: flex-start;
}

.header-bottom-stripe * {
	margin: 0;
}

/*
*
*
*
*
*
* mainmatter properties
*
*
*
*
*
*/

/*menu properties*/

.menu {
	background-color: #f2f2f2;
	height: 45px;
	margin: 45px auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.menu > * {
	padding: 11px 14px;
	display: inline-flex;
	align-items: center;
}

/*portfolio properties*/

.portfolio-list {
	font-size: 18px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
}

.portfolio-list > * {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 5px 30px 0;
}

#fill-list-item {
	order: 9;
	visibility: hidden;
}

@media screen and (max-width: 960px) {
	.portfolio-list {
		justify-content: space-around;
	}
	#fill-list-item {
		order: 9;
		visibility: collapse;
		margin: 0;
	}
}

@media screen and (min-width: 960px) {
	.portfolio-list > li:nth-child(3n+1) {
		margin: 0 0 30px 0;
	}
}

/*mainmatter first bottom stripe properties*/

.mainmatter-buythis-stripe {
	height: 110px;
	font-size: 20px;
	background-color: #cbf1f4;
	color: #2095b2;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
}

.mainmatter-buythis-stripe > button {
	height: 40px;
	width: 170px;
	background-color: #1c818a; 
	color: #ffffff;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	margin: 0 0 0 10px;
	border-radius: 3px;
	border-style: none;
}

/*mainmatter second bottom stripe properties*/

.mainmatter-findus-stripe {
	height: 110px;
	font-size: 25px;
	background-color: #29bdca;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items:center;
}

.mainmatter-findus-stripe > * {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	display: inline-flex;
	justify-content: space-between;
	align-items:center;
}

.mainmatter-findus-stripe .social-networks-list {
	height: 40px;
	width: 163px;
	font: normal normal normal 15px FontAwesome;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.mainmatter-findus-stripe .social-networks-list > * {
	height: 40px;
	width: 163px;
	background-color: #2095a0;
	margin: 0 0 0 1px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.mainmatter-findus-stripe a {
	color: #ffffff;
}

/*
*
*
*
*
*
* footer properties
*
*
*
*
*
*/

/*footer properties*/

footer a {
	color: #bfbfbf;
}

footer {
	font-size: 13px;
	background-color: #444444;
	color: #999999;
}

/*footer-info properties*/

.footer-info {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	padding: 50px 0;
}

@media screen and (max-width: 960px) {
	.footer-info {
		justify-content: space-around;
	}
	.footer-info > div {
		margin-right: 0;
	}
}

@media screen and (min-width: 960px) {
	.footer-info {
		justify-content: space-between;
	}
}

.footer-info > div {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-right: 20px;
}

.footer-info > div:last-child {
	margin-right: 0;
}

.footer-info h2 {
	color: #ffffff;
	font-weight: lighter;
	text-transform: capitalize;
	margin-bottom: 28px;
}

.footer-info p {
	line-height: 19px;
	margin: 0;
}

.footer-info input {
	height: 35px;
	width: 245px;
	border-style: none;
	border-radius: 3px;
	margin: 28px 5px 0 0;
}

.footer-info button {
	height: 37px;
	width: 50px;
	color: #ffffff;
	border-style: none;
	border-radius: 3px;
	margin: 0;
}

.tweet-container {
	width: 90%;
	background-color: #333333;
	padding: 15px 15px 0 15px;
	margin-bottom: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.tweet-container span {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.tweet-container time {
	align-self: flex-end;
	color: #bfbfbf;
	margin-bottom: 15px;
}

.tweet-icon {
	font-size: 60px;
	color: #2d2d2d;
	margin-bottom: -25px;
}

.recent-post {
	margin-bottom: 22px;
}

/*footer copyright properties*/

.footer-copyright {
	height: 45px;
	background-color: #333333;
	font-size: 12px;
}

.footer-copyright > div {
	height: 100%;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.footer-links-block {
	text-transform: uppercase;
}

.footer-links-block > * {
	margin-right: 10px;
}

/*removed link*/