/*Mutual properties*/

body {
	/*Font*/
	font-size: 13px;

	/*Background*/
	background-color: #ffffff;
}

.contentWrapper {
	/*Box*/
	width: 960px;
	margin: 0 auto;
}

.socialNetworksList {
	/*Box*/
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
	
	/*Font*/
	font: normal 15px FontAwesome;
	
	/*Table*/
	list-style: none;
}

.socialNetworksList > * {
	/*Box*/
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 0 1px;	
}

.socialNetworksList > *:first-child {
	/*Box*/
	margin: 0;
}

img {
	/*Box*/
	width: 300px;
	height: 150px;
}

.fillListItem > img {
	/*Box*/
	height: 0px;
}

/*Links properties*/

a {
	/*Font*/
	color: #808080;
	font-size: 13px;
	
	/*Text*/
	text-decoration: none;
}

.headerContacts > div > a {
	/*Font*/
	color: #29bdca;
}

.navigation > a {
	/*Box*/
	margin: 0 14px;

	/*Text*/
	text-transform: uppercase;
}

.navigation > a:first-child {
	/*Box*/
	margin-left: 0;
}

.menu > a {
	/*Box*/
	margin: 0 2px;

	/*Text*/
	text-transform: uppercase;
}

.menu > a:first-child {
	/*Font*/
	color: white;

	/*Background*/
	background-color: #29bdca;
}
	
.portfolioList a {
	/*Font*/
	color: #29bdca;

	/*Text*/
	text-transform: capitalize;
} 

time {
	/*Font*/
	color: #808080;
	font-size: 12px;
}

/*
*
*
*
*
*
* Header properties
*
*
*
*
*
*/

/*Contacts stripe properties*/

.headerContacts {
	/*Box*/
	display: flex;
	justify-content: flex-end;
	height: 30px;
	
	/*Background*/
	background-color: #f2f2f2;
}

.headerContacts div {
	/*Box*/
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	
	/*Font*/
	color: #80808e;
}

.headerContacts div > * {
	/*Box*/
	margin-left: 20px;
}

.headerContacts .socialNetworksList {
	/*Box*/
	width: 123px;
	margin-left: 20px;
}

.headerContacts .socialNetworksList > * {
	/*Box*/
	width: 30px;
	height: 30px;
	
	/*Background*/
	background-color: #e5e5e5;
}

/*Main menu properties*/

.headerMainMenu {
	/*Box*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	height: 140px;
	
	/*Font*/
	color: #404040;
	font-size: 15px;
}

.headerMainMenu > h1:first-letter {
	/*Box*/
	padding: 5px 15px;

	/*Font*/
	color: white;
	font-weight: bolder;
	
	/*Background*/
	background-color: #29bdca;
}

.navigation {
	/*Box*/
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

/*Current place at site properties*/

.headerCurrentPlace {
	/*Box*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 38px;
	box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.25);

	/*Background*/
	background-color: #2095a0;
}

.breadcrumbs {
	/*Box*/
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	
	/*Font*/
	color: #94e0d9;
}

.breadcrumbs > * {
	/*Box*/
	margin: 0 12px 0 0;
}

.breadcrumbs > a {
	/*Font*/
	color: white;
}

.breadcrumbs > i {
	/*Font*/
	color: black;
}

/*Bottom stripe properties*/

.headerBottomStripe {
	/*Box*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 150px;
	
	/*Background*/
	background-color: #29bdca;
}

.headerBottomStripe div {
	/*Box*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	
	/*Font*/
	color: white;
	font-size: 20px;
}

.headerBottomStripe * {
	/*Box*/
	margin: 0;
}

/*
*
*
*
*
*
* Mainmatter properties
*
*
*
*
*
*/

/*Menu properties*/

.menu {
	/*Box*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 45px;
	margin: 45px auto;

	/*Background*/
	background-color: #f2f2f2;
}

.menu > * {
	/*Box*/
	display: inline-flex;
	align-items: center;
	padding: 11px 14px;
}

/*Portfolio properties*/

.portfolioList {
	/*Box*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0;

	/*Table*/
	list-style: none;

	/*Font*/
	font-size: 18px;
}

.portfolioList > * {
	/*Box*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 5px 30px 0;
}

.fillListItem {
	order: 100;
	visibility: hidden;
}

@media screen and (max-width: 960px) {
	.portfolioList {
		/*Box*/
		justify-content: space-around;
	}
	.fillListItem {
		/*Layout*/
		visibility: collapse;

		/*Box*/
		order: 9;	
		margin: 0;
	}
}

@media screen and (min-width: 960px) {
	.portfolioList > li:nth-child(3n+1) {
		/*Box*/
		margin: 0 0 30px 0;
	}
}

/*mainmatter first bottom stripe properties*/

.mainMatterBuyThisStripe {
	/*Box*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	height: 110px;

	/*Font*/
	color: #2095b2;
	font-size: 20px;

	/*Background*/
	background-color: #cbf1f4;
}

.mainMatterBuyThisStripe > button {
	/*Box*/
	width: 170px;
	height: 40px;
	margin: 0 0 0 10px;
	border-radius: 3px;
	border-style: none;

	/*Font*/
	color: #ffffff;
	font-size: 17px;
	font-weight: bold;

	/*Text*/
	text-transform: uppercase;

	/*Background*/
	background-color: #1c818a; 
}

/*Mainmatter second bottom stripe properties*/

.mainMatterFindUsStripe {
	/*Box*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px;

	/*Font*/
	color: #ffffff;
	font-size: 25px;

	/*Background*/
	background-color: #29bdca;
}

.mainMatterFindUsStripe > * {
	/*Box*/
	display: inline-flex;
	justify-content: space-between;
	align-items:center;
}

.mainMatterFindUsStripe .socialNetworksList {
	/*Box*/
	width: 163px;
	height: 40px;
}

.mainMatterFindUsStripe .socialNetworksList > * {
	/*Box*/
	width: 163px;
	height: 40px;

	/*Background*/
	background-color: #2095a0;
}

.mainMatterFindUsStripe a {
	/*Font*/
	color: white;
}

/*
*
*
*
*
*
* Footer properties
*
*
*
*
*
*/

footer {
	/*Font*/
	color: #999999;

	/*Background*/
	background-color: #444444;
}

footer a {
	/*Font*/
	color: #bfbfbf;
}

/*FooterInfo properties*/

.footerInfo {
	/*Box*/
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	padding: 50px 0;
}

@media screen and (max-width: 960px) {
	.footerInfo {
		/*Box*/
		justify-content: space-around;
	}
	.footerInfo > div {
		/*Box*/
		margin-right: 0;
	}
}

@media screen and (min-width: 960px) {
	.footerInfo {
		/*Box*/
		justify-content: space-between;
	}
}

.footerInfo > div {
	/*Box*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 300px;
	margin-right: 20px;
}

.footerInfo > div:last-child {
	/*Box*/
	margin-right: 0;
}

.footerInfo h2 {
	/*Box*/
	margin-bottom: 28px;

	/*Font*/
	color: white;
	font-weight: lighter;

	/*Text*/
	text-transform: capitalize;
}

.footerInfo p {
	/*Box*/
	margin: 0;

	/*Font*/
	line-height: 19px;
}

.footerInfo input {
	/*Box*/
	width: 245px;
	height: 37px;
	margin: 28px 5px 0 0;
	padding: 0;
	border-radius: 3px;
	border-style: none;
}

.footerInfo button {
	/*Box*/
	width: 50px;
	height: 37px;
	margin: 0;
	border-radius: 3px;
	border-style: none;

	/*Font*/
	color: white;

	/*Background*/
	background-color: #bfbfbf; 
}

.tweetContainer {
	/*Layout*/
	overflow: hidden;

	/*Box*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 90%;
	margin-bottom: 20px;
	padding: 15px 15px 0 15px;

	/*Background*/
	background-color: #333333;
}

.tweetContainer span {
	/*Box*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.tweetContainer time {
	/*Box*/
	align-self: flex-end;
	margin-bottom: 15px;

	/*Font*/
	color: #bfbfbf;
	
}

.tweet-icon {
	/*Box*/
	margin-bottom: -25px;

	/*Font*/
	color: #2d2d2d;
	font-size: 60px;
}

.recentPost {
	/*Box*/
	margin-bottom: 22px;
}

/*Copyright properties*/

.copyright {
	/*Box*/
	height: 45px;

	/*Font*/
	font-size: 12px;

	/*Background*/
	background-color: #333333;
}

.copyright > div {
	/*Box*/
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.footerLinksBlock {
	/*Text*/
	text-transform: uppercase;
}

.footerLinksBlock > * {
	/*Box*/
	margin-right: 10px;
}